.message-container{
    display: flex;
    justify-content: flex-start;
}
.message-container.right {
    justify-content: flex-end;
}

.message-container.right .message{
    background-color: #0099FF;
    color: white;
}

/* css for the message dialouge in Messages.js component */
.thread-container{
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
}

.thread-container .thread{
    position: relative;
    width: 100%;
    max-height: 800px;
    background-color: lightblue;
}

.thread-container::-webkit-scrollbar {
    display: none;
  }
  